.nav-link {
    position: relative;
    color: #008455;
    text-decoration: none;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #008455;
    transition: width 0.3s ease;
}

.nav-link:not(.active):hover::before {
    width: 100%;
}

.nav-link:hover {
    color: #008455;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #008455;
    color: #fff;
}

.nav-link:focus{
    color: #008455;
}