.articlesContainer {
    display: flex;
    flex-wrap: wrap;
}

.newsPageContainer a {
    margin: 2vh 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Add the box-shadow */
}

.article {
    display: flex;
    margin-bottom: 20px;
    text-decoration: none;
}

.articleImage {
    flex: 0 0 30%;
    margin-right: 1.5vw;
    /* Adjust the width of the image container as needed */
}

.articleImage img {
    width: 100%;
}

.articleDetails {
    flex: 1;
    padding-left: 10px;
}

.newsPageTitle {
    color: #0047ab; 
}

.articleDetails h4 {
    margin-top: 3vh;
    color: #0a336d; 
}

.author {
    font-style: italic;
    color: #333; /* Dark grey */
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    color: #333; /* Dark grey */
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.loadingContainer .css-18lrjg1-MuiCircularProgress-root {
    color: #0047ab; /* Dodger blue */
}

.loadingContainer p {
    color: #0047ab; /* Dodger blue */
    font-size: 3rem;
    margin: 0;
}
